.itemDetails {
    width: 70%;
    margin-top: 60px;
    margin-left: 15%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemDetails img {
    width: 25%;
    height: 75%;
}

.itemDetails aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;    
    height: 100%;
}

.itemDetailsStart {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemDetailsStart span {
    font-size: small;
}

.itemDetailsStart p {
    font-size: 1.5rem;
}
.itemDetailsSeleccion {
    display: flex;
    width: 70%;
    justify-content: space-between;
    border-radius: 0.5rem;
    align-items: center;
    border: 2px #8080804f solid;
}

.itemDetailsSeleccion > div {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.itemDetailsSeleccion > div select {
    width: 45%;
}

.itemDetailsButtons {
    display: flex;
    margin-top: 20px;
}

.agregarCarrito {
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    background-color: #52A8A0;
    color: white;
    border-radius: 2rem;
    margin-right: 1rem;
} 

.volverBtn {
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    background-color: gray;
    color: white;
    border-radius: 2rem;
}