.itemsContainerCard {
    width: 20%;
    height: 500px;
    border: 1px #8080804f solid;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
}

.itemsContainerCard > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.itemsContainerCardImg {
    height: 50%;
    padding: 1rem;
}

.itemsContainerCard:hover {
    box-shadow: 2px 2px rgba(128, 128, 128, 0.5);
}


