.itemsContainerCard {
    width: 20%;
    height: 500px;
    border: 1px #8080804f solid;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .itemsContainerCard:hover {
    box-shadow: 2px 2px rgba(128, 128, 128, 0.5);
  }
  
  .itemsContainerCard img {
    height: 50%;
    padding: 1rem;
  }
  
  .agregarCarrito, .verOtros {
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    background-color: #11B5E4;
    color: white;
    border-radius: 2rem;
  }