* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #11B5E4 ;
  color: white;
  padding: 1rem;
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.5);
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.header nav ul {
  display: flex;
  column-gap: 5rem;
  list-style: none;
}

.header nav ul a {
  
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#btn-carrito {
  border: 2px white solid;
  border-radius: 2rem;
  background-color: #000000;
  }
